.ceat-container
{
    background-color: #fafafa;
    overflow: auto;
}
.ceat-header{
    color: white;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.diamond{
    width: 60%;
    margin: auto;
    padding: 12px 4px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 12px;
}
.ceat-row{ 
    width: 60%;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.ceat{
   display: flex;
}
.ceat-no{
    height: 25px;
    width: 25px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #4abd5d;
    border-radius: 2px;
    font-size: 10px;
    color: #4abd5d;
    background: #fff;
    transition: all 0.3s ease;
}
.ceat-no:hover{
    background-color: #4abd5d;
    color: white;
    cursor: pointer;
}
.last-ceat{
    background-color: grey;
    border: 2px solid white;
    color: white;
}
.last-ceat:hover{
    background-color: grey;
    color: white;
}
.space
{
    margin-bottom: 50px;
}
.last-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    height: 25px;
    width: 100px;
    background-color: gray;
    transform: skew(40deg);
}
.seat-legent-wrapper{
    display: flex;
    justify-content: center;
    background-color: white;
}
.seat-legent-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
}
.seat-legent-inner{
    display: flex;
    justify-content: space-around;  
    padding: 1rem; 
}
.seat-legent{
    display: flex;
    align-items: center;
}
.seat-box{
    height: 20px;
    width: 20px;
    border-radius: 2px;
    margin-right: 0.5rem;
}
.box1{
    background-color: gray;
}
.box2{
    border: 1px solid #4abd5d;
}
.box3{
    background-color: #4abd5d;
}
.selectSeat{
    background-color: #4abd5d;
    color: #fff;
}
.seat-left-gap:nth-child(11), .seat-left-gap:nth-child(21)
{
    margin-right: 40px;
}
.ceat-row:nth-child(10),.ceat-row:nth-child(14),.ceat-row:nth-child(16)
{
    margin-bottom: 40px;
}
.ceat-row:nth-child(15) .ceat-no,.ceat-row:nth-child(16) .ceat-no{
    border: 1px solid gray;
    background-color: gray;
    color: white;
    cursor: auto;
    margin-top: 20px;
}
.diamond:after{
    content: "Pearl : Rs.60.00";
    position: absolute;
    width: 60%;
    margin: auto;
    left: 0;
    right: 0;
    top:90%;
    padding: 12px 4px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 12px;
}
.series{
    position: relative;
    background-color: transparent !important;
    border: none !important;
    color: #cccccc !important;
    font-size: 16px !important;
}
.error{
    background-color: #cccccc;
    border: none;
    color: #fafafa;
}
.series:hover, .error:hover{
    background-color: #cccccc;
    color: #fafafa;
    cursor: auto;
}