*{
    padding: 0;
    box-sizing: border-box;
}
.payment_container{
    width: 100%;
    min-height: 100vh;
    background-color: #cccccc52;
    .payment_card{
        width: 50%;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        h2{
            font-size: 16px;
            letter-spacing: 3px;
            font-weight: 300;
            color: #c02c39;
        }
    }
}
.conv{
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    margin: 0 !important;
}
.payBill{
    display: flex;
    justify-content: space-between;
}
.css-15v22id-MuiAccordionDetails-root{
    padding: 8px 0 !important;
}
.contribution{
    display: flex;
    justify-content: space-between;
    .bookASmile{
        img{
            width: 20px !important;
        }
    }

}